<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>人才生态圈后台管理</title>
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!--    <link rel="stylesheet" href="../X-admin/layui/css/layui.css"  media="all">-->
    <script th:src="@{/X-admin/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}"></script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container layui-bg-green">
    <div class="logo layui-bg-green">
        <a href="./index.html">乡村旅游管理系统</a></div>
    <div class="left_open layui-bg-green">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>

    <ul class="layui-nav right layui-bg-green">
        <li class="layui-nav-item">
            <span>账号：</span>
            <span>等级：管理员</span>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/">后台首页</a></li>
    </ul>
</div>

<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="会员管理">&#xe6b8;</i>
                    <cite>列表管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('统计页面','../X-admin/welcome1.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>统计页面</cite></a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe70b;</i>
                            <cite>会员管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('会员列表(静态表格)','../jsp/member-list.jsp')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>会员列表(静态表格)</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('会员删除','member-del.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>会员删除</cite></a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" onclick="xadmin.add_tab('会员列表(静态表格)','../jsp/view-list.jsp')">
                            <i class="iconfont">&#xe723;</i>
                            <cite>乡村风景</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                    </li>

                    <li>
                        <a href="javascript:;" onclick="xadmin.add_tab('会员列表(静态表格)','../jsp/story-list.jsp')">
                            <i class="iconfont">&#xe723;</i>
                            <cite>乡村故事</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                    </li>

                    <li>
                        <a href="javascript:;" onclick="xadmin.add_tab('会员列表(静态表格)','../jsp/eat-list.jsp')">
                            <i class="iconfont">&#xe723;</i>
                            <cite>乡村特产</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                    </li>

                    <li>
                        <a href="javascript:;" onclick="xadmin.add_tab('会员列表(静态表格)','../jsp/news-list.jsp')">
                            <i class="iconfont">&#xe723;</i>
                            <cite>乡村热点</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面
            </li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='welcome1.jsp' frameborder="0" scrolling="yes"
                        class="x-iframe" id="iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->

</body>
<script type="text/javascript" th:src="@{/X-admin/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/X-admin/layui/layui.js}"></script>

</html>
