<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msbkj.mapper.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.msbkj.entity.TUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="conditions" property="conditions" jdbcType="VARCHAR" />
    <result column="annouce" property="annouce" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.msbkj.entity.TUser" >
    insert into t_user (id, username, password, 
      photo, sex, age, height, 
      weight, degree, conditions,
      annouce)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, 
      #{weight,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, #{conditions,jdbcType=VARCHAR},
      #{annouce,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.msbkj.entity.TUser" >
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=VARCHAR},
      conditions = #{conditions,jdbcType=VARCHAR},
      annouce = #{annouce,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, username, password, photo, sex, age, height, weight, degree, conditions,
    annouce
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, username, password, photo, sex, age, height, weight, degree, conditions,
    annouce
    from t_user
  </select>



  <select id="getProductInfo" resultType="com.msbkj.entity.TUser">
    select * from t_user where 1=1
    <if test="name!=null and name!=''">
      and username like concat('%',#{name},'%')
    </if>
    <if test="sex!=null and sex!=''">
      and sex=#{sex}
    </if>
    limit #{page},#{limit}
  </select>

  <select id="checkUserExit" resultType="com.msbkj.entity.TUser">
     select * from t_user where username = #{account}
  </select>

  <insert id="addUser">
    insert into t_user (username,password,sex,age,degree) values (#{account},#{pwd},#{sex},#{age},#{degree})
  </insert>

  <select id="login" resultType="com.msbkj.entity.TUser">
    select * from t_user where username=#{account} and password=#{pwd}
  </select>

  <select id="userLogin" resultType="com.msbkj.entity.TUser">
    select * from t_user where username=#{account}
  </select>

  <update id="updateUserInfo">
    update t_user set height=#{height},weight=#{weight},degree=#{degree} where username=#{username}
  </update>

  <select id="getAnotherSex" resultType="com.msbkj.entity.TUser">
    select * from t_user where sex = #{sex}
  </select>

  <select id="isFriend" resultType="com.msbkj.entity.TFriends">
    select * from t_friends where user_id1=#{userId} and user_id2=#{id}
  </select>

  <insert id="joinFriend">
    insert  into t_friends (user_id1,user_id2) values (#{userId},#{id})
  </insert>

  <select id="selectIdByUsername" resultType="java.lang.String">
    select id from t_user where username = #{username}
  </select>

  <select id="getNews" resultType="com.msbkj.entity.TNews">
    select tu.username,tn.* from t_news tn,t_user tu where tn.user_id=tu.id
  </select>

  <update id="dianZanNew">
    update t_news set likes=likes+1 where id=#{id}
  </update>

  <select id="getComment" resultType="com.msbkj.entity.TComment">
    select tu.username,tc.* from t_comment tc,t_user tu where tc.user_id=tu.id
  </select>

  <insert id="addUserComment">
    insert into t_comment (flag,news_id,user_id,content,times) values (0,#{newsId},#{userId},#{content},now())
  </insert>

  <insert id="shoucangnew">
    insert into t_collect (user_id,news_id) values (#{userId},#{newsId})
  </insert>

  <select id="checkCollect" resultType="com.msbkj.entity.TCollect">
    select * from t_collect where user_id = #{userId} and news_id = #{newsId}
  </select>
</mapper>