<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msbkj.mapper.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.msbkj.entity.TUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="conditions" property="conditions" jdbcType="VARCHAR" />
    <result column="annouce" property="annouce" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.msbkj.entity.TUser" >
    insert into t_user (id, username, password, 
      photo, sex, age, height, 
      weight, degree, conditions,
      annouce)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, 
      #{weight,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, #{conditions,jdbcType=VARCHAR},
      #{annouce,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.msbkj.entity.TUser" >
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=VARCHAR},
      conditions = #{conditions,jdbcType=VARCHAR},
      annouce = #{annouce,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, username, password, photo, sex, age, height, weight, degree, conditions,
    annouce
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, username, password, photo, sex, age, height, weight, degree, conditions,
    annouce
    from t_user
  </select>
</mapper>